
/* General body and container styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

/* Content wrapper */
.content {
    margin: 50px auto;
    width: 600px;
}

/* Form container styling */
.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Heading styles */
h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

/* Label styling */
label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input, select {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.select2-container .select2-selection--single {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 5px;
    margin-bottom: 15px;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #ccc;
    border-radius: 4px;
}
